<% set_page_title "About" %>
<h4 class="page-header">About TIOJ <small>INFOR Online Judge <%= Tioj::VERSION %></small></h4>
<h5>Site Info</h5>
<div class="well">
This site is powered by Ruby on Rails! <br >
TIOJ Github Repo: <a href="https://github.com/Sprout-System/tioj">https://github.com/Sprout-System/tioj</a>, forked from <a href="https://github.com/TIOJ-INFOR-Online-Judge/tioj">TIOJ INFOR Online Judge</a> <br>
Judge System Github Repo: <a href="https://github.com/TIOJ-INFOR-Online-Judge/tioj-judge">https://github.com/TIOJ-INFOR-Online-Judge/tioj-judge</a> <br>
Still in development, any issues or pull requests are welcomed. <br >
</div>
